<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Registro Arboles</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <!-- CAROUSEL DE VIDEOS -->
        <div>
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <video class="d-block w-100" autoplay muted loop>
                            <source src="videos/Arboles1.mp4" type="video/mp4">
                                Tu navegador no soporta el tag de video.
                        </video>

                        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-3 rounded">
                            <h5 class="display-5 fw-bold text-uppercase text-warning">HERMOSOS PAISAJES</h5>
                            <p class="fs-5 fw-semibold text-light">DISFRUTE LOS DIFERENTES CATALOGOS DE ARBOLES</p>
                        </div>

                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <video class="d-block w-100" autoplay muted loop>
                            <source src="videos/arboles2.mp4" type="video/mp4">
                                Tu navegador no soporta el tag de video.
                        </video>
                        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-3 rounded">
                            <h5 class="display-5 fw-bold text-uppercase text-warning">NATURALEZA ESPECTACULAR</h5>
                            <p class="fs-5 fw-semibold text-light">ASOMBRESE DEL REGALO DE LA VIDA</p>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <video class="d-block w-100" autoplay muted loop>
                            <source src="videos/arboles3.mp4" type="video/mp4">
                                Tu navegador no soporta el tag de video.
                        </video>
                        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-3 rounded">
                            <h5 class="display-5 fw-bold text-uppercase text-warning">TRANQUILIDAD TOTAL</h5>
                            <p class="fs-5 fw-semibold text-light">CUIDEMOS EL AMBIENTE TAN LINDO QUE NOS OBSEQUIARON</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>

